.brief1 {
	max-width: 650px;
	font-size: 1rem;
	line-height: 30px;
	font-family: 宋体;
	font-weight: 500;
	letter-spacing: 0.1rem;
	margin-bottom: 40px;
}

.brief2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 宋体;
	font-weight: 500;
	font-size: 1rem;
	line-height: 30px;
	overflow-wrap: anywhere;
}

.what {
	font-style: italic;
	width: 27%;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.name {
	font-size: 1.52rem;
	line-height: 30px;
	font-weight: 400;
	margin-bottom: 20px;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

.clear {
	clear: both;
}

#d1 {
	padding: 50px 60px;
	display: flex;
	margin-top: 60px;
}

.imgs {
	align-items: center;
	display: flex;
	height: 181px;
	justify-content: center;
	overflow: hidden;
	border: 1px solid #A4A5A650;
}

.imgs img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	transition: all .15s;
	border: 0;
	width: 100%;
	height: auto;
}

.cards {
	position: relative;
	display: flex;
	margin-bottom: 40px;
	width: 32%;
	max-width: 280px;
	overflow: hidden;
	flex-direction: column;
	background: #ffffff;
	border-bottom: 6px solid #cf4e50;
	border-left: 1px solid #A4A5A650;
	border-right: 1px solid #A4A5A650
}

.card1 {
	background: #ffffff;
/* 	border-bottom: 6px solid #cf4e50;
	border-left: 1px solid #A4A5A650;
	border-right: 1px solid #A4A5A650; */
/* 	display: flex; */
/* 	flex-direction: row; */
	padding: 20px 10px;
}

.namea {
	margin-bottom: 30px;
	font-size: 1.32rem;
	line-height: 2rem;
	width: 14%;
	font-family: 宋体;
	font-weight: 550;
	float: left;
}
.all{
	float: left;
	width: 86%;
}
#d2 {
	padding: 0px 60px 50px 60px;
	display: flex;
}

.say {
	letter-spacing: 0.5rem;
	font-family: 宋体;
	font-style: normal;
	width: 85%;
	box-sizing: border-box;
	margin-top: 30px;
}
textarea{
	height: 150px;
	max-height: 150px;
}
textarea::-webkit-input-placeholder {
	font-style: italic;
}

textarea:-moz-placeholder {
	font-style: italic;
}

textarea::-moz-placeholder {
	font-style: italic;
}

textarea:-ms-input-placeholder {
	font-style: italic;
}
.footer img{
	width: 100px;
}
.footer1{
	margin: 0 30px;
	float: left;
/* 	width: 150px; */
	line-height: 80px;
	letter-spacing: 1px;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
}
.message{
	width: 650px;
	padding: 8px 15px;
	font-size: 1rem;
	line-height: 30px;
	font-family: 宋体;
	font-weight: 500;
	letter-spacing: 0.1rem;
	border: 1px solid #A4A5A650;
	margin-bottom: 15px;
	color: #404449;
}
/* 分页 */

.managea {
	border: 1px solid #D5D5D5;
}

.qian,
.zuiqian,
.zuihou,
.hou {
	float: left;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #777;
	background-color: #fff;
	border: 1px solid #D5D5D5;
	border-radius: 4px;
	margin-right: 5px;
	cursor: pointer;
}
.zongyeshu{
	float: left;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #777;
}
.dangqianye{
	float: left;
	width: 50px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #777;
	margin-right: 5px;
}
.tiaozhuan1 {
	float: left;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #777;
	background-color: #fff;
	border: 1px solid #D5D5D5;
	border-radius: 4px;
	margin-right: 5px;
	cursor: pointer;
}

.tiaozhuan {
	float: left;
}

.tiaozhuan input {
	width: 180px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #777;
	background-color: #ededed;
	border: 1px solid #D5D5D5;
	border-radius: 4px;
}