.ques {
	font-size: 1rem;
	letter-spacing: 0.05rem;
	line-height: 35px;
}

.layui-form-label {
	font-size: 1rem !important;
	letter-spacing: 0.05rem !important;
}

.ques span {
	font-family: Times New Roman;
	font-weight: 600;
	margin-right: 10px;
	font-size: 17px;
}

input {
	color: #666;
	font-weight: 350;
	font-size: 14px;
}

.layui-textarea {
	color: #666 !important;
	font-weight: 200;
	min-height: 180px;
	max-height: 180px;
}

.qtype1,
.qtype2,
.qtype3,
.qtype4 {
	background-color: #FFFFFF;
	margin-bottom: 20px;
	/* border-radius: 5px; */
	/* 	border: 1px solid #dfdfdf; */
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;
}

.paperB {
	padding: 50px;
	width: 60%;
	/* 	border: 1px solid #666; */
	background-color: rgb(252, 252, 252);
}
.ans,.grade{
	line-height: 24px;
	color: #666;
	font-size: 14px;
	margin-top: 10px;
}
.grade input{
	padding-left: 2px;
	border: #8F8F9D 1px solid;
	border-radius: 3px;
	padding: 3px;
}
.tii,.tii1{
	position: absolute;
	top: 90px;
	left: 260px;
	width: 60px;
	height: 40px;
	background-color: rgba(207,78,80,0.75);
	color: white;
	font-family: 宋体;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}
.tii1{
	left:calc(50% + 130px)
}
