.container {
	width: calc(100% - 460px);
	height: calc(100% - 180px);
	background-color: #fffcf9;
	position: absolute;
	top: 60px;
	left: 350px;
	margin: 30px;
	background-color: seashell;
}

#demo {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background-color: seashell;
}

#demo .box {
	width: 100%;
	background-color: seashell;
	padding: 0px 3%;
}

.zUIpanelScrollBox,
.zUIpanelScrollBar {
	width: 10px;
	top: 4px;
	right: 2px;
	border-radius: 5px;
}

.zUIpanelScrollBox {
	background: black;
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.zUIpanelScrollBar {
	background: rgba(207, 78, 89, 0.75);
	opacity: 0.8;
	filter: alpha(opacity=80);
}

/* 滚动栏里的题目列表 */
.queListBox {
	background-color: seashell;
	width: 94%;
	box-sizing: border-box;
}


.mid {
	background-color: white;
}

.botm {
	background-color: rgba(227, 227, 227, 0.9);
}

.qtitle {
	box-sizing: border-box;
	width: 50px;
	padding: 20px 10px;
	position: absolute;
	top: 90px;
	left: 330px;
	background-color: seashell;
	text-align: center;
	font-size: 16px;
	border-radius: 3px 0 0 3px;
	color: #292c2f;
}
/* 题库列表 */
.queList{
	width: 100%;
	margin:20px 0px 30px 0px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;
}
.top{
	padding: 10px;
	line-height: 24px;
	font-size: 13px;
	color: #292c2f;
	background-color: rgba(227, 227, 227, 0.9);
}
.top span{
	margin-right: 20px;
}
.mid{
	padding: 10px;
	background-color: white;
}
.botm{
	padding: 10px;
	line-height: 24px;
	font-size: 13px;
	color: #292c2f;
}
.ques {
	font-size: 15px;
	letter-spacing: 0.05rem;
	line-height: 35px;
	color: #292c2f;
}
.layui-form-radio, .layui-form-radio *{
	color: #292c2f !important;
}
.layui-form-label {
	font-size: 1rem !important;
	letter-spacing: 0.05rem !important;
}

.ques span {
	font-family: Times New Roman;
	font-weight: 600;
	margin-right: 10px;
	font-size: 17px;
}
.layui-input-block{
	margin-left: 0px;
}
/* 正确答案 */
.answer {
	font-size: 0.8rem;
	letter-spacing: 0.05rem;
	margin-top: 20px;
	line-height: 24px;
}

.qans {
	margin-right: 10px;
	color:#666
}
.anss{
	color: #CF4E50;
}
.des{
	color:#666
}
.fenye{
	position: absolute;
	top: calc(100% - 60px);
	left: 460px;
}
.addQues{
	position: absolute;
	top: calc(100% - 65px);
	right: 130px;
}
/* 添加题目 */
#testtm{
	padding: 10px;
}
.tagList,#tags{
	padding: 10px;
	width: 80%;
	min-height: 40px;
	border: 1px solid #8F8F9D;
	border-radius: 3px;
}
.tagCheck,
.title {
	font-size: 15px;
	font-family: 宋体;
	font-weight: 500;
	margin: 20px 0px 10px 0px;
}
.surtags{
	margin-bottom: 10px;
}
.surtags input {
	width: 40%;
	padding-left: 10px;
	height: 38px;
	line-height: 1.3;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	color: rgba(0, 0, 0, .85);
	border-radius: 2px;
	outline: 0;
	-webkit-appearance: none;
	-webkit-transition: all .3s;
	box-sizing: border-box;
}
.search {
	padding: 9px 15px;
	width: 80px;
	font-weight: 400;
	line-height: 20px;
	border: 1px solid #d2d2d2;
	background: 0 0;
	color: #666;
	height: 38px;
	line-height: 38px;
	padding: 0 18px;
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	outline: 0;
}
.search:hover{
	border:1px solid #d2d2d2!important
}
.tag:hover{
	border:1px solid #CF4E50!important
}
.tag{
	padding: 9px 15px;
	font-weight: 400;
	line-height: 20px;
	border: 1px solid #d2d2d2;
	background: 0 0;
	color: #666;
	height: 38px;
	line-height: 38px;
	padding: 0 18px;
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	outline: 0;
	margin-bottom: 5px;
}